html {
	background-image: linear-gradient(to bottom right, #FFFFFF, #FFF, #5480AF);
	animation-name: backgroundChange;
	animation-duration: 4s;
}

h1 {
	font-family: 'Alata', sans-serif;
	color: #FFFFFF;
	background-color: #5480AF;
	animation-name: colorChange1;
	animation-duration: 4s;
}

@keyframes colorChange1 {
	from {background-color: #92D26F}
	to {background-color: #5480AF}
}

h2 {
	font-family: 'Alata', sans-serif;
	color: #FFFFFF;
	background-color: #92D26F;
	animation-name: colorChange2;
	animation-duration: 4s;
}

@keyframes colorChange2 {
	from {background-color: #5480AF}
	to {background-color: #92D26F}
}

h3 {
	font-family: 'Alata', sans-serif;
}

p {
	font-family: 'Alata', sans-serif;
	font-size: 25px;

}

img {
	border-style:  dotted;
	border-color: #5480AF;
}

button:hover {
	color: #92D26F;
	background-color: #92D26F;
	font-family: 'Alata', sans-serif;
}

button {
	color: #FFFFFF;
	background-color: #5480AF;
	font-family: 'Alata', sans-serif;
	font-size: 25px;
	animation-name: colorChange1;
	animation-duration: 4s;
}

a {
	color: #FFFFFF;
	font-family: 'Alata', sans-serif;

}

#events, #projects, #journal, #climate, #home {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 11px;
  background-color: #92D26F;
  animation-name: colorChange2;
  animation-duration: 4s;
}

li a:hover {
	background-color: #5480AF
}

footer {
	background-color: #5480AF;
	clear: left;
	animation-name: colorChange1;
	animation-duration: 4s;
}


#journalForm, #partnerForm{
	color: #5480AF;
}

#beachCleanup {
	float: left;
}

#recentProject {
	padding-left: 250px;
}

#logo {
	float: left;
	animation-name: positionChange;
	animation-duration: 4s;

}

#logoText {
	padding-left: 260px;
}

#joinToday {
	color: #FFFFFF;
	background-color: #92D26F;
	font-family: 'Alata', sans-serif;
	font-size: 25px;
	animation-name: colorChange1;
	animation-duration: 4s;	
}

#joinToday:hover {
	color: #FFFFFF;
	background-color: #5480AF;
	font-family: 'Alata', sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #5480AF;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding:  8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #FFF;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	background-color: #92D26F;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 36px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px}
	.sidenav a {font-size: 18px}
}

#open{
	float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
    display: block;
  padding: 11px;
  background-color: #92D26F;
  animation-name: colorChange2;
  animation-duration: 4s;
  color: #FFFFFF;
	font-family: 'Alata', sans-serif;
}

#open:hover {
	background-color: #5480AF;
}


